@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
  font-family: 'NotoSansKR',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #ffffff 0% 0% no-repeat padding-box;
}
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  outline: none;

  border: none;
  font-family: inherit;
  color: inherit;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
